{% extends 'layout/layoutFront.twig' %}
{% block header %}
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <div class="roundedImage text-center">
                            <img style="width: 150px" src="img/moi.jpg" alt="1"/>
                        </div>
                        <h1>Alix Romain </h1>
                        <span class="subheading"> Parcequ'on est pas là pour être ici!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container pb-5">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        {% if success%}
            <div class="alert alert-success text-center" role="alert">{{ success }}</div>
        {% endif %}
    </div>

    {% if number > 0 %}
        <div class="container pb-5">
            <p class="text-center" style="background-color: orange">
                <a class="nav-link" href="index.php?page=comment&method=allCommentDisableMethod">{{ session.lastName }} vous avez {{ number }}  nouveaux commentaires à valider !</a>
            </p>
        </div>
    {% endif %}

    {% if session.rank == 'UTILISATEUR' %}
        <p class="text-center">
            <a class="nav-link" href="index.php?page=blogPost&method=allBlockPostMethod">Bonjour {{ session.lastName }}, j'ai des nouveaux blogPosts pour vous !</a>
        </p>
    {% endif %}

    <p class="text-center">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Me Contacter
        </button>
    </p>
    <div class="collapse container" id="collapseExample">
        <form class="col" action="index.php?page=home&method=contactMethod" method="post">
            <div class="row mb-3">
                <div class="col controls">
                    <input type="text" name="firstName" class="form-control" placeholder="Votre Nom" id="firstName" required data-validation-required-message="Veuillez entrer votre nom.">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col">
                    <input type="text" name="lastName" class="form-control" placeholder="Votre Prénom" id="lastName" required data-validation-required-message="Veuillez entrer votre prénom.">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control"  placeholder="@email"   id="email" name="email" required data-validation-required-message="veuillez entrer votre adresse email">
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="content" name="content" placeholder="Taper votre contentaire..." rows="3" required data-validation-required-message="Veuillez entrer votre contentaire."></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <p class="text-right">
                <button type="submit" class="btn btn-primary ">Envoyer</button>
            </p>
        </form>
    </div>
    <hr>
{% endblock %}
