{% extends 'layout/LayoutFront.twig' %}
{% block header %}
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1> Tous les BlogPosts </h1>
                        <span class="subheading">Comment peut on vous instruire {{ session.lastName }}? </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
    {% if  success is not null   %}
        <div class="alert alert-success text-center" role="alert">{{ success }}</div>
    {% endif %}

    {% if session.rank == 'ADMIN' %}
        <p class="text-center">
            <a href="index.php?page=blogPost&method=createBlogPostMethod" style="color: white" class="btn btn-primary" >
                Publier un BlogPost
            </a>
        </p>
    {% endif %}


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for blogPost in blogPosts %}
                    <div class="post-preview">
                        <a href="index.php?page=blogPost&method=showBlockPostMethod&idBlogPost={{ blogPost.id_blogPost }}">
                            <h2 class="post-title">
                                {{ blogPost.title|raw }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ blogPost.chapo|raw  }}
                            </h3>
                        </a>
                        <p class="post-meta">Rédigé par
                            <a href="index.php?page=blogPost&method=showBlockPostMethod&idBlogPost={{ blogPost.id_blogPost }}">{{blogPost.firstName  }} {{blogPost.lastName  }}</a>
                            le {{ blogPost.dateCreate|date("d/m/Y") }}
                        </p>
                        {% if session.rank == 'ADMIN' %}
                            <p>
                                <a href="index.php?page=blogPost&method=updateBlogPostMethod&idBlogPost={{ blogPost.id_blogPost }}" class="btn btn-primary">Modifier</a>
                                <a class="btn btn-danger btn-xs" href="index.php?page=blogPost&method=deleteBlogPostMethod&idBlogPost={{ blogPost.id_blogPost  }}" class="btn btn-primary"><i class="far fa-trash-alt"></i></a>
                            </p>
                        {% endif %}

                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">BlogPosts plus anciens&rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
